.bundle{
    &__button{
        margin-top: 2rem;
    }
    &__link{
        font-size: 1rem;
        color: #000;
        text-transform: uppercase;
        background-color: #fff;
        padding: .8rem 1.8rem;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}
.seller{
   
    &__link{
        font-size: 1rem;
        color: #000;
        text-transform: uppercase;
        &:hover{
            color: #000;
           text-decoration: none;
        }
    }
    &__linkP{
        font-size: .9rem;
        color: #fff;
        &:hover{
          color: #fff;
          text-decoration: none;
        }
      }
      &__feelB{
          margin-top: 2rem;
      }
      &__feelLink{
          font-size: 1rem;
          color: #000;
          text-transform: uppercase;
          &:hover{
              color: #000;
              text-decoration: none;
          }
      }
}

.peep{
    &__button{
        background-color: #382f2d;
        padding: .5rem 1.2rem;
    }
    &__link{
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}