<%- include('partials/homeHeader') %>
<section class="bundle">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-3 col-12">
                <div class="bundle__content">
                    <h1 class="main">
                        Bundle Up And Sava $15
                    </h1>
                    <p class="para">
                        We bundled the world's most advanced Trimmer and T-Blade with exclusive savings to amke the perfect gift
                    </p>
                    <div class="bundle__button">
                        <a href="#" class="bundle__link text-center" role="button">Get It Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seller">
    <div class="container">
        <div class="seller__content">
            <h3 class="best">Best Sellers</h3>
            <hr>
            <br><br><br>

            <div class="row">
                <div class="col-lg-4 col-12 jordan">
                    <div class="seller__content">
                        <div class="card seller__box">
                            <div class="seller__image text-center">
                                <img src="/images/Trimmer-T-Blade-1.jpg" alt="Trimmer">
                            </div>
                            <div class="card-body">
                                <h4 class="trimmer">
                                    Trimmer + T-Blade
                                </h4>
                                <p class="para">
                                    New Trimmer + Wider Blade <br>
                                    $209.95
                                </p>
                                <div class="seller__button">
                                    <a href="#" class="seller__link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 jordan">
                    <div class="seller__content">
                        <div class="card seller__box">
                            <div class="seller__image text-center">
                                <img src="/images/Shave-kit-2.jpg" alt="Shave">
                            </div>
                            <div class="card-body">
                                <h4 class="trimmer">
                                    Shave Kit
                                </h4>
                                <p class="para">
                                    The Complete Shave System <br>
                                    $74.95
                                </p>
                                <div class="seller__button">
                                    <a href="#" class="seller__link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 jordan">
                    <div class="seller__content">
                        <div class="card seller__box">
                            <div class="seller__image text-center">
                                <img src="/images/Skin-essentials-Bundle-3.jpg" alt="Skin-essentials-Bundle-3">
                            </div>
                            <div class="card-body">
                                <h4 class="trimmer">
                                    Skin Essentials Bundle
                                </h4>
                                <p class="para">
                                    Skincare favorites <br>
                                    $27.95
                                </p>
                                <div class="seller__button">
                                    <a href="#" class="seller__link">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seller">
    <div class="container">
        <div class="seller__content">
            <h3 class="best">Product Cateories</h3>
            <hr>
            <br><br><br>

            <div class="row pulldown">
                <div class="col-lg-6 col-12 jordan">
                    <div class="seller__bg">
                        <h4 class="title">
                            Hair
                        </h4>
                        <div class="seller__buttonP">
                            <a href="#" class="seller__linkP" role="button">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 jordan">
                    <div class="seller__bgS">
                        <h4 class="title">
                            Shave
                        </h4>
                        <div class="seller__buttonP">
                            <a href="#" class="seller__linkP" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row seller__pullup">
                <div class="col-lg-6 col-12 jordan">
                    <div class="seller__bgH">
                        <h4 class="title">
                            Skin
                        </h4>
                        <div class="seller__buttonP">
                            <a href="#" class="seller__linkP" role="button">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 jordan">
                    <div class="seller__bgB">
                        <h4 class="title">
                             Body
                        </h4>
                        <div class="seller__buttonP">
                            <a href="#" class="seller__linkP" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seller seller__space">
    <div class="container">
        <div class="seller__content">
            <h3 class="best">Bevel Masterclass</h3>
            <hr>
            <br><br><br>
            <div class="card seller__full">
                <div class="row pulldown">
                    <div class="col-lg-6 col-12">
                        <div class="seller__img">
                            <img src="/images/I-feel-like-jordan-image.jpg" alt="I-feel-like-jordan-image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="seller__feel">
                            <h3 class="title">
                                <em>
                                    I feel Like Jordan When I got These <br> [Trimmers] in my Hand
                                </em>
                            </h3>
                            <h4 class="nameC">
                                Marcus Harvey
                            </h4>
                            <span class="barber">
                                Celebrity Barber
                            </span>
                            <div class="seller__feelB">
                                <a href="#" class="seller__feelLink" role="button">Watch Masterclass</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="street">
    <div class="container">
        <div class="street__content text-center">
            <h2 class="word">
                Word On The Street
            </h2>
            <p class="para">
                <em>People 🖤  Bevel</em>
            </p>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-4 col-12 street__space">
                <div class="street__content">
                    <div class="street__images">
                        <img src="/images/Recently-tried-bevel-for-the-first-min.jpg" alt="Recently-tried-bevel-for-the-first-min">
                    </div>
                    <p class="say">
                       <em>“Recently tried Bevel for the first time and I must say it is amazing... I will probably use it forever.” </em>
                    </p>
                    <span class="users">
                        Kenneth Vasser
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-12 street__space">
                <div class="street__content">
                    <div class="street__images">
                        <img src="/images/helps-my-skin-feel-hydrated.jpg" alt="helps-my-skin-feel-hydrated">
                    </div>
                    <p class="say">
                       <em>“Helps My skin feel Hydrated without feeling like an oil slick” </em>
                    </p>
                    <span class="users">
                        Yarmayn
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-12 street__space">
                <div class="street__content">
                    <div class="street__images">
                        <img src="/images/These-some-ditters.jpg" alt="These-some-ditters">
                    </div>
                    <p class="say">
                       <em>“These is some Damn Hitters.. T-Blade is Dope. Will be Using These Trimmers for Years to Come” </em>
                    </p>
                    <span class="users">
                        MyBlackuniv3rs3
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="peep">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-5 col-12">
                <div class="peep__content">
                    <p class="para">
                        Peep our online exclusives. Solutions for your unique skin and hair needs with savings you don't 
                        want to miss
                    </p>
                    <div class="peep__button text-center">
                        <a href="#" class="peep__link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>