* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 75em) {
    body {
      font-size: 56.25%; } }
  @media (max-width: 50em) {
    body {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    body {
      font-size: 50%; } }
  @media (max-width: 61.875em) {
    body {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    body {
      font-size: 75%; } }
