.peep{
    margin: 2rem 0 2rem 0;
    padding-top: 10rem;
    background-image: url(/images/Peep-our-online-exclusives-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}